@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f5f5f5;
  --text: #222;
}

body.dark {
  --bg: #222;
  --text: #f5f5f5;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding: 20px;
}

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: url('/hive.svg') center/contain no-repeat;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;

}

.slider-thumb::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

/* Firefox version */
/* .slider-thumb::-moz-range-thumb {} */
.slider-thumb::-moz-range-thumb:hover {
  transform: scale(1.2);
}